{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(1000) %}
{% set header_image_height = page.header.header_image_height|defined(300) %}
{% set header_image_file = page.header.header_image_file %}

<article class="list-item">
    {% if header_image %}
    <a class="blog-hero-image" href="{{ page.url }}">
            {% if header_image_file %}
                {% set header_image_media = page.media.images[header_image_file] %}
            {% else %}
                {% set header_image_media = page.media.images|first %}
            {% endif %}
            {{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
    </a>
    {% endif %}
    <div {% if truncate and page.summary != page.content %}{% else %}class="container"{% endif %}>
        <div {% if truncate and page.summary != page.content %}{% else %}class="row"{% endif %}>
            <div {% if truncate and page.summary != page.content %}{% else %}class="nine columns blog-item"{% endif %}>
                <div class="list-blog-header">

                    {% if truncate and page.summary != page.content %}
                        <h2 class="blog-heading h3"><a href="{{ page.url }}">{{ page.title }}</a></h2>
                    {% else %}
                        <h2 class="blog-heading"><a href="{{ page.url }}">{{ page.title }}</a></h2>
                    {% endif %}

                    <div>
                        <span class="list-blog-date">
                            <span class="h">Posted:</span>
                            <span class="m">{{ page.date|date("M") }}</span>
                            <span class="d">{{ page.date|date("d") }},</span>
                            <span class="y">{{ page.date|date("Y") }}</span>
                        </span>
                    </div>

                    {% if page.taxonomy.tag %}
                    <span class="tags">
                        {% for tag in page.taxonomy.tag %}
                        <a class="list-blog-tag" href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </span>
                    {% endif %}
                </div>

                <div class="blog-content">

                {% if page.header.continue_link is sameas(false) %}
                    {{ page.content }}
                    {% if not truncate %}
                    {% set show_prev_next = true %}
                    {% endif %}
                {% elseif truncate and page.summary != page.content %}
                    {{ page.summary }}
                    <p class="continue-reading"><a class="button dark" href="{{ page.url }}">Continue Reading&hellip;</a></p>
                {% elseif truncate %}
                    {% if page.summary != page.content %}
                        {{ page.content|truncate(550) }}
                    {% else %}
                        {{ page.content }}
                    {% endif %}
                    <p class="continue-reading"><a class="button dark" href="{{ page.url }}">Continue Reading&hellip;</a></p>
                {% else %}
                    {{ page.content }}
                    {% set show_prev_next = true %}
                {% endif %}

                {% if show_prev_next %}

                    <div class="social-sharing">
                        <h5>Share this post with others:</h5>
                        <div class="sharethis-inline-share-buttons"></div>
                    </div>

                    <p class="prev-next">
                        {% if not page.isLast %}
                            <a class="button primary" href="{{ page.prevSibling.url }}"><span class="typcn typcn-chevron-left"></span>Prev</a>
                        {% endif %}

                        <a class="button primary" href="/blog"><span class="typcn typcn-home"></span>Blog Home</a>

                        {% if not page.isFirst %}
                            <a class="button primary" href="{{ page.nextSibling.url }}">Next<span class="typcn typcn-chevron-right"></span></a>
                        {% endif %}
                    </p>
                {% endif %}

                </div>

                {% if truncate and page.summary != page.content %}

                {% else %}
                <h5>Post comments:</h5>
                <div class="comments">
                    {% if config.plugins.jscomments.enabled %}
                        {{ jscomments() }}
                    {% endif %}
                </div>
                {% endif %}
            </div>

            {% if truncate and page.summary != page.content %}
            {% else %}
            <aside class="three columns sidebar">
                {% include 'partials/sidebar.html.twig' with {'blog':page.parent}%}
            </aside>
            {% endif %}

        </div>
    </div>
</article>
