{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }} nav-list-item">
            <a class="nav-link" href="{{ p.url }}">
                {{ p.menu }}
            </a>
            {% if p.children.visible.count > 0 %}
                <ul class="drop-list">
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>

    {% endfor %}
{% endmacro %}

<ul class="nav-list">
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
        <li class="nav-list-item">
            <a class= "nav-link patron-button" href="https://www.patreon.com/bePatron?u=769872">Become a Patron</a>
        </li>
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="{{ current_page }} nav-list-item">
                <a class="nav-link" href="{{ page.url }}">
                  {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>
