{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="header-img" style="background-image: url({{ page.media[page.header.homepageHeaderImg].url }})">
        <div class="container section-pad">
            <div class="box half">
                <h1 class="center">{{ page.title }}</h1>
                <p>{{ page.header.subtitle }}</p>
            </div>
        </div>
    </section>

    <section class="download-buy">
        <div class="container section-pad">
            <div class="options-cont">
                <div class="options-box">
                    <div class="content">
                        <h3>Patreon</h3>
                        <p>
                            {{ page.header.patreonCopy }}
                        </p>
                        <a class="button dark fill u-full-width u-center-btn" href="https://www.patreon.com/bePatron?u=769872">Become a Patron</a>
                    </div>
                </div>
            </div>
            <div class="options-cont u-mt-90">
                <div class="options-box">
                    <div class="content">
                        <h3>Paypal</h3>
                        <p>
                            {{ page.header.paypalCopy }}
                        </p>
                        <form class="u-clear-spacing" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="KKVD9UVN2B9DU">
                            <input class="button dark u-full-width u-center-btn" type="submit" value="Support my music"  name="submit" />
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="options-cont u-mt-90">
                <div class="options-box">
                    <div class="content">
                        <h3>Spotify</h3>
                        <p>
                            {{ page.header.spotifyCopy }}
                        </p>
                        <a class="button dark fill u-full-width u-center-btn" href="https://open.spotify.com/artist/6LmoGTofmo1i6zC1yxZjfy">Nishae on Spotify</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if page.content %}
    <section>
        <div class="container section-pad">
            {{ page.content }}
        </div>
    </section>
    {% endif %}

    {% include 'partials/email-cta.html.twig' %}

{% endblock %}
